@import "~styles/utils/_mixins.scss";

.toggle-field {
    display: flex;
    min-height: auto !important;

    .toggle {
        width: 34px;
        height: 20px;
        position: relative;

        &__value {
            @include setFontStyle(13px, "SFText-Regular");

            line-height: 21px;
            color: var(--gray-0-color);
            margin-right: 7px;
            width: 36px;
            text-align: right;
            display: none;

            &[data-show=true] {
                display: block;
            }

            &:last-child {
                margin-left: 10px;
            }
        }

        &[data-disable="true"] {
            .toggle__item:before {
                background-color: var(--gray-4-color) !important;
            }

            .form-control {
                cursor: default !important;
            }
        }

        input {
            position: absolute;
            height: 20px;
            min-height: 20px;
            width: 34px;
            margin: 0;
            z-index: 1;
            opacity: 0;
            cursor: pointer;
        }

        input[type="checkbox"] + .toggle__item:after {
            @include square(14px);

            content: "";
            display: block;
            position: absolute;
            border-radius: 3px;
            background-color: var(--gray-6-color);
            -webkit-transition: all ease-out 0.25s;
            transition: all ease-out 0.25s;
            top: 0;
            margin-left: 3px;
            margin-top: 3px;
        }

        input[type="checkbox"]:checked + .toggle__item:after {
            margin-left: calc(100% - 17px);
        }

        input[type="checkbox"] + .toggle__item:before {
            content: "";
            display: block;
            position: absolute;
            border-radius: 6px;
            width: 34px;
            height: 20px;
            left: 0;
            top: 0;
            background-color: var(--gray-2-color);
        }

        input[type="checkbox"]:checked + .toggle__item:before {
            background-color: var(--blue-color);
        }
    }
}
