@import "~styles/utils/_mixins.scss";

.toggle-group {
    min-height: auto;
}

.toggle-field {
    display: flex;

    &__label {
        @include set-font-style(400, 13px, "SFText");

        line-height: 21px;
        color: var(--toggle-label-color);
        margin-right: 7px;
        width: 36px;
        text-align: right;
        display: none;

        &[data-show=true] {
            display: block;
        }

        &:last-child {
            margin-left: 10px;
        }
    }

    .toggle {
        width: 34px;
        height: 20px;
        position: relative;

        &[data-disable="true"] {
            .toggle__item:before {
                background-color: var(--toggle-disable-background-color) !important;
            }

            .form-control {
                cursor: default;
            }
        }

        input {
            position: absolute;
            height: 20px;
            min-height: 20px;
            width: 34px;
            margin: 0;
            z-index: 1;
            opacity: 0;
            cursor: pointer;
        }

        input[type="checkbox"] + .toggle__item:after {
            @include square(14px);

            content: "";
            display: block;
            position: absolute;
            border-radius: 3px;
            background-color: var(--toggle-inactive-item-color);
            -webkit-transition: all ease-out 0.25s;
            transition: all ease-out 0.25s;
            top: 0;
            margin-left: 3px;
            margin-top: 3px;
        }

        input[type="checkbox"]:checked + .toggle__item:after {
            margin-left: calc(100% - 17px);
        }

        input[type="checkbox"] + .toggle__item:before {
            content: "";
            display: block;
            position: absolute;
            border-radius: 6px;
            width: 34px;
            height: 20px;
            left: 0;
            top: 0;
            background-color: var(--toggle-inactive-background-color);
        }

        input[type="checkbox"]:checked + .toggle__item:before {
            background-color: var(--toggle-active-background-color);
        }
    }
}
