@import "animation/ball-chasing";
@import "animation/ball-pulse";
@import "animation/ball-pulse-double";
@import "animation/wave";
@import "animation/wave-spread";
@import "animation/circle-pulse";
@import "animation/circle-pulse-multiple";
@import "animation/arc-rotate-double";
@import "animation/arc-rotate";
@import "animation/arc-rotate2";
@import "animation/square-split";
@import "animation/arc-scale";
@import "animation/clock";
@import "animation/square-rotate-3d";

.loaders {
    &::before, &::after {
        content: "";
        display: block;
    }
    &::after {
        clear: both;
        overflow: hidden;
    }
}

.loader-container {
    position: relative;
    float: left;
    width: 250px;
    height: 250px;

    .loader {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
}
