.arc-rotate-two .loader {
    width: 100px;
    height: 100px;
}
.arc-rotate-two .loader .arc {
    position: absolute;
    width: 100%;
    height: 100%;
}
.arc-rotate-two .loader .arc::before, .arc-rotate-two .loader .arc::after {
    content: "";
    position: absolute;
    top: 32%;
    left: 32%;
    border: 2px solid;
    border-radius: 50%;
    width: 36%;
    height: 36%;
}
.arc-rotate-two .loader .arc::before {
    border-color: #00077b;
    opacity: 0.3;
}
.arc-rotate-two .loader .arc::after {
    border-color: transparent;
    border-bottom-color: #00077b;
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
