@import "./grid.scss";

body {
    background-color: #f2f4f8;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body, html, #root, .app {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

img {
    max-width: 100%;
}
