@import "~styles/utils/_mixins.scss";

@mixin set-button-theme($type) {
    &[data-type=#{$type}] {
        background-color: var(--button-#{$type}-background-color);
        color: var(--button-#{$type}-text-color);
        border-color: var(--button-#{$type}-border-color);
        box-shadow: var(--button-#{$type}-box-shadow);

        &:hover {
            background-color: var(--button-#{$type}-hover-background-color);
            border-color: var(--button-#{$type}-hover-border-color);
        }

        &:active {
            background-color: var(--button-#{$type}-active-background-color);
            color: var(--button-#{$type}-active-text-color);
            border-color: var(--button-#{$type}-active-border-color);
        }

        &.disabled {
            background-color: var(--button-#{$type}-disabled-background-color);
            color: var(--button-#{$type}-disabled-text-color);
        }
    }
}

.button {
    @include set-button-theme("primary");
    @include set-button-theme("secondary");
    @include set-button-theme("floating");

    height: 50px;
    max-width: 325px;
    padding: 13px 20px;
    border-radius: 6px;
    position: relative;
    transition: 0.25s ease-in-out;
    border: 1px solid;

    &:focus {
        box-shadow: none;
        outline: none;
    }

    &.disabled, &[data-type="inactive"] {
        pointer-events: none;
        cursor: default;
        opacity: 1;
        box-shadow: none;
    }

    &.button-tiny {
        height: 30px;
        padding: 3px 10px;

        .icon {
            $tiny-icon-size: 20px;

            @include square($tiny-icon-size);
            @include position($top: 4px, $right: 4px);

            background-size: $tiny-icon-size $tiny-icon-size;
        }
    }

    &.button-mini {
        $button-size: 50px;

        @include square($button-size);

        &.button-tiny {
            $button-tiny-size: 30px;

            @include square($button-tiny-size);
            @include position($top: 0, $right: 0, $bottom: 0, $left: 0);
        }

        &[data-type="floating"] {
            border-radius: 50%;
        }
    }

    &.button-double {
        &:first-child {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        &:last-child {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    .text {
        @include set-font-style(500, 16px, "SFDisplay");

        line-height: 24px;
        text-align: left;
    }

    .icon {
        @include position(absolute, $top: 2px, $right: 2px);

        content: "";
        display: block;
        margin: auto;
    }
}
