@import "~styles/utils/variables.scss";
@import "~styles/utils/mixins.scss";

@mixin setButtonIcon($icon, $type) {
    &[data-type=#{$type}] {
        &[data-icon=#{$icon}] {
            &:before {
                background-image: url("./img/#{$icon}/#{$type}-#{$icon}-normal.svg");
            }

            &:active {
                &:before {
                    background-image: url("./img/#{$icon}/#{$type}-#{$icon}-focus.svg");
                }
            }

            &.disabled {
                &:before {
                    background-image: url("./img/#{$icon}/#{$type}-#{$icon}-disabled.svg");
                }
            }
        }
    }
}

.custom-button {
    @include setFontStyle(16px, "SFDisplay-Medium");

    line-height: 24px;
    margin-top: 0 !important;
    height: 50px;
    max-width: 325px !important;
    outline: none !important;
    padding: 13px 20px;
    border-radius: 6px;
    position: relative;
    text-align: left;
    transition: 0.25s ease-in-out;

    &:focus {
        box-shadow: none !important;
    }

    &[data-type="primary"] {
        background-color: #00077B;
        color: #ffffff;

        &:hover {
            background-color: #2043bd;
        }

        &:active {
            background-color: #2043bd;
            color: #8fa1de;
        }

        &.disabled {
            background-color: #a6a6a6;
            color: #E6E6E6;
        }
    }

    &[data-type="secondary"] {
        background-color: #e4eaf7;
        color: #00077B;

        &:hover {
            background-color: #c3d5f9;
        }

        &:active {
            background-color: #c3d5f9;
            color: #626EBA;
        }

        &.disabled {
            background-color: #f2f2f2;
            color: #A6A6A6;
        }
    }

    &.disabled, &[data-type="inactive"] {
        pointer-events: none;
        cursor: default;
        opacity: 1;
        box-shadow: none !important;
    }

    &.button-tiny {
        height: 30px;
        padding: 3px 10px;
    }

    &.button-mini {
        @include square(50px);

        &.button-tiny {
            @include square(30px !important);
        }
    }

    &.button-tiny {
        &:before {
            @include square(20px);

            background-size: 20px 20px;
            top: 4px;
            right: 4px;
        }
    }


    @include setButtonIcon("plus", "primary");
    @include setButtonIcon("plus", "secondary");
    @include setButtonIcon("plus-tiny", "primary");
    @include setButtonIcon("plus-tiny", "secondary");

    @include setButtonIcon("arrow-down", "primary");
    @include setButtonIcon("arrow-down", "secondary");
    @include setButtonIcon("arrow-down-tiny", "primary");
    @include setButtonIcon("arrow-down-tiny", "secondary");

    &:before {
        @include square(44px);

        content: "";
        display: block;
        position: absolute;
        top: 2px;
        right: 2px;
        background-position: center center;
        background-size: 44px 44px;
        background-repeat: no-repeat;
    }
}
