@import "~styles/utils/_mixins.scss";

.checkbox-field {
    $checkbox-size: 20px;

    display: flex;
    min-height: auto !important;

    .checkbox {
        @include square($checkbox-size);

        position: relative;

        input:hover + .checkbox__item:before {
            background: var(--checkbox-hover-background-color);
            transition: 0.25s ease-in-out;
        }

        &[data-disable="true"] {
            input:hover + .checkbox__item:before {
                background-color: var(--checkbox-disable-background-color);
            }

            .checkbox__item:before {
                background-color: var(--checkbox-disable-background-color);
                border-color: var(--checkbox-disable-border-color);
            }

            input:checked ~ .checkbox__item:before {
                background: var(--checkbox-disable-background-color);
                border: 2px solid var(--checkbox-disable-checked-border-color);
            }

            input:checked ~ .checkbox__item:after {
                background-image: url("img/check-inactive.svg");
            }

            .form-control {
                cursor: default;
            }
        }

        &-label {
            @include setFontStyle(13px, "SFText-Medium");

            line-height: 20px;
            color: var(--checkbox-label-color);
            display: none;
            margin-left: 30px;

            &[data-show=true] {
                display: block;
            }
        }

        input {
            @include square($checkbox-size);
            @include position(absolute, 0, 0, 0, 0);

            z-index: 1;
            opacity: 0;
            cursor: pointer;
            min-height: 20px;
            margin: auto;
        }

        input + .checkbox__item:after {
            $icon-size: 14px;

            @include square($icon-size);
            @include position(absolute, 0, 0, 0, 0);

            content: "";
            display: block;
            margin: auto;
        }

        input:checked + .checkbox__item:after {
            background-image: url("img/check-active.svg");
            background-repeat: no-repeat;
            background-size: 12px 12px;
            background-position: center center;
        }

        input + .checkbox__item:before {
            $box-size: 18px;

            @include square($box-size);
            @include position(absolute, 0, 0, 0, 0);

            content: "";
            display: block;
            margin: auto;
            border-radius: 6px;
            border: 1px solid var(--checkbox-background-color);
            background-color: var(--checkbox-border-color);
        }

        input:checked + .checkbox__item:before {
            @include square(16px);

            border: 2px solid var(--checkbox-checked-border-color);
        }
    }
}
