@import "~styles/utils/_mixins.scss";

.checkbox-field {
    $checkbox-size: 20px;

    display: flex;
    min-height: auto;

    .checkbox {
        height: $checkbox-size;
        display: flex;
        position: relative;

        &__item {
            @include square($checkbox-size);

            position: relative;
        }

        input:hover + .checkbox__item:before {
            background: var(--checkbox-hover-background-color);
            transition: 0.25s ease-in-out;
        }

        &[data-disable="true"] {
            input:hover + .checkbox__item:before {
                background-color: var(--checkbox-disable-background-color);
            }

            .checkbox__item:before {
                background-color: var(--checkbox-disable-background-color);
                border-color: var(--checkbox-disable-border-color);
            }

            input:checked ~ .checkbox__item:before {
                background: var(--checkbox-disable-background-color);
                border: 2px solid var(--checkbox-disable-checked-border-color);
            }

            .form-control {
                cursor: default;
            }
        }

        &-label {
            @include set-font-style(500, 13px, "SFText");

            line-height: 20px;
            color: var(--checkbox-label-color);
            display: none;
            margin-left: 10px;

            &[data-show=true] {
                display: block;
            }
        }

        input {
            @include square($checkbox-size);

            position: absolute;
            z-index: 1;
            opacity: 0;
            cursor: pointer;
            min-height: 20px;
            margin: auto;
        }

        .checkbox__item > svg {
            @include position(absolute, 0, 0, 0, 0);

            margin: auto;
        }

        input + .checkbox__item:before {
            $box-size: 18px;

            @include square($box-size);
            @include position(absolute, 0, 0, 0, 0);

            content: "";
            display: block;
            margin: auto;
            border-radius: 6px;
            border: 1px solid var(--checkbox-background-color);
            background-color: var(--checkbox-border-color);
        }

        input:checked + .checkbox__item:before {
            @include square(16px);

            border: 2px solid var(--checkbox-checked-border-color);
        }
    }
}
