.circle-pulse-multiple .loader {
    width: 100px;
    height: 100px;
}
.circle-pulse-multiple .loader > div {
    position: absolute;
    top: 24px;
    left: 24px;
    width: 50%;
    height: 50%;
    border: 2px solid #00077b;
    border-radius: 50%;
    animation: circlePulse 1s ease infinite;
}
.circle-pulse-multiple .loader .circle-2 {
    animation-delay: -0.9s;
}
.circle-pulse-multiple .loader .circle-3 {
    animation-delay: -0.8s;
}

@keyframes circlePulse {
    0% {
        transform: scale(0.1);
    }
    80% {
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
