@import "~styles/utils/_mixins.scss";

.popup-container {
    @include position($position: absolute, $top: 0, $left:0);

    width: 100vw;
    height: 100vh;
    z-index: 1000;
    overflow: hidden;

    .overlay {
        @include square(100%);
        @include position($position: absolute, $top: 0, $left:0);

        background: rgba(0, 0, 0, 0.5);
        z-index: 1001;
    }

    .popup {
        @include position(absolute, 0, 0, 0, 0);

        width: 400px;
        height: 400px;
        z-index: 1002;
        margin: auto;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;

        &-header {
            height: 44px;
            margin: 10px;
        }

        &-footer {
            margin: auto auto 40px auto;
        }

        .header {
            display: flex;

            &__title {
                display: flex;
                flex-direction: column;
                margin: 0 auto 0 0;
            }

            &__close {
                $icon-size: 44px;

                @include square($icon-size);

                background-image: url("img/close.svg");
                background-size: $icon-size $icon-size;
                background-repeat: no-repeat;
                display: flex;
                flex-direction: column;
                margin: 0 0 0 auto;
                cursor: pointer;
            }
        }
    }
}
