@import "~styles/utils/_mixins.scss";
@import "~styles/utils/_variables.scss";

.card {
    background-color: var(--card-background-color);
    transition: 0.25s;

    &-header {
        min-height: 55px;
        padding: 16px 24px;
        display: flex;

        &__title {
            font-size: 18px;
            font-weight: 600;
            color: var(--card-title-color);
            margin: 0 auto 0 0;
        }

        &[data-hidden=true] {
            display: none;
        }
    }

    &-body {
        padding: 16px 24px;
    }
}
