@import "~styles/utils/_mixins.scss";

@mixin get-icon-alert($type) {
    &[data-type=#{$type}] {
        &:before {
            background-image: url("./img/#{$type}.svg");
        }
    }
}

.alert {
    @include position(absolute, $top: 100px, $right: 0);

    @include getIconAlert("none");
    @include getIconAlert("negative");
    @include getIconAlert("positive");
    @include getIconAlert("neutral");

    height: 50px;
    width: 325px;
    display: flex;

    > span {
        @include set-font-style(500, 16px, "SFDisplay");

        line-height: 24px;
        margin: auto;
        cursor: default;
    }

    &[data-type="none"] {
        background-color: var(--alert-none-background-color);

        > span {
            color: var(--alert-none-text-color);
        }
    }

    &[data-type="negative"] {
        background-color: var(--alert-negative-background-color);

        > span {
            color: var(--alert-negative-text-color);
        }
    }

    &[data-type="positive"] {
        background-color: var(--alert-positive-background-color);

        > span {
            color: var(--alert-positive-text-color);
        }
    }

    &[data-type="neutral"] {
        background-color: var(--alert-neutral-background-color);

        > span {
            color: var(--alert-neutral-text-color);
        }
    }

    &:before {
        $icon-size: 44px;

        @include square($icon-size);
        @include position(absolute, $top: 0, $right: 0);

        content: "";
        display: block;
        margin: 3px;
        background-repeat: no-repeat;
        background-size: $icon-size $icon-size;
        cursor: pointer;
    }

    &[data-open=true] {
        animation: 0.25s dataOpen ease-in-out;
        margin-top: 0;
        opacity: 1;
    }

    &[data-open=false] {
        animation: 0.25s dataClose ease-in-out;
        margin-top: -40px;
        opacity: 0;
    }
}

@keyframes dataOpen {
    from {
        margin-top: -40px;
        opacity: 0;
    }

    to {
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes dataClose {
    from {
        margin-top: 0;
        opacity: 1;
    }

    to {
        margin-top: -40px;
        opacity: 0;
    }
}
