.loader-container {
    position: relative;
    float: left;
    width: 250px;
    height: 250px;

    .loader {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }

    &::before, &::after {
        content: "";
        display: block;
    }

    &::after {
        clear: both;
        overflow: hidden;
    }
}
