@import "~styles/utils/_mixins.scss";

$tabsHeight: 48px;
$icon-size: 30px;

.tabs-container {
    height: 100%;
    position: relative;
    float: left;
    margin-top: 5px;

    .tabs {
        background-color: transparent;
        display: flex;
    }

    .tabs-item {
        width: 100%;
        overflow: auto;
    }

    .tab-item {
        &__label {
            @include set-font-style(600, 16px, "SFDisplay");

            color: var(--tab-label-color);
            display: block;
            padding: 5px 0 9px;
            margin-right: 40px;
            cursor: pointer;
            text-align: center;
            border-bottom: 4px solid var(--tab-border-color);
            transition: 0.25s ease-in-out;

            &[data-active=true] {
                color: var(--tab-active-label-color);
                cursor: default;
                border-bottom-color: var(--tab-active-border-color);
            }
        }
    }
}
