.submenu {
    display: flex;
    height: 100%;
    background: var(--submenu-background-color);
    flex-direction: column;
    padding: 20px 40px;
    opacity: 0.9;


    &__title {
        color: var(--submenu-title-color);
        font-size: 22px;
        margin: 20px 0;
    }

    &__link {
        margin: 20px 0;
        color: var(--submenu-link-color);
    }

    &__link {
        text-decoration: none;

        &_active,
        &:hover {
            color: var(--submenu-active-link-color);
        }
    }
}
