@import "~styles/utils/_mixins.scss";

.radio-field {
    display: flex;
    min-height: auto !important;

    .radio {
        @include square(20px !important);

        position: relative;
        border-radius: 50%;
        transition: 0.25s ease-in-out;

        input:hover + .radio__item:before {
            transition: 0.25s ease-in-out;
            background: var(--light-blue-color) !important;
        }

        &[data-disable="true"] {
            input:hover ~ .radio__item:before {
                transition: 0.25s ease-in-out;
                background: var(--gray-5-color) !important;
                border: 1px solid var(--gray-3-color) !important;
            }

            .radio__item:before {
                background: var(--gray-5-color) !important;
                border: 1px solid var(--gray-3-color) !important;
            }

            input:checked ~ .radio__item:before {
                background: var(--gray-5-color) !important;
                border: 2px solid var(--gray-2-color) !important;
            }


            input:checked ~ .radio__item:after {
                background: var(--gray-2-color) !important;
            }

            .form-control {
                cursor: default !important;
            }

            background: none !important;
        }


        &-label {
            @include setFontStyle(13px, "SFText-Medium");

            line-height: 20px;
            color: var(--gray-0-color);
            display: none;
            margin-left: 30px;

            &[data-show=true] {
                display: block;
            }
        }

        input {
            @include square(20px !important);

            position: absolute;
            z-index: 1;
            opacity: 0;
            cursor: pointer;
            min-height: 20px;
            margin: 0 !important;
        }

        input[type="radio"] + .radio__item:after {
            @include square(8px);

            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            border-radius: 50%;
        }

        input[type="radio"]:checked + .radio__item:after {
            background-color: var(--blue-color);
        }

        input[type="radio"] + .radio__item:before {
            @include square(18px);

            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            border-radius: 50%;
            border: 1px solid var(--gray-3-color);
            background-color: #ffffff;
        }

        input[type="radio"]:checked + .radio__item:before {
            @include square(16px);

            border: 2px solid var(--blue-color);
        }
    }
}
