@import "~styles/utils/_mixins.scss";

.radio-field {
    $radio-size: 20px;

    display: flex;
    min-height: auto !important;

    .radio {
        @include square($radio-size);

        position: relative;
        border-radius: 50%;

        input:hover + .radio__item:before {
            background: var(--radio-hover-background-color);
            transition: 0.25s ease-in-out;
        }

        &[data-disable="true"] {
            input:hover ~ .radio__item:before {
                background: var(--radio-disable-background-color);
            }

            .radio__item:before {
                background: var(--radio-disable-background-color);
                border: 1px solid var(--radio-disable-border-color);
            }

            input:checked ~ .radio__item:before {
                background: var(--radio-disable-background-color);
                border: 2px solid var(--radio-disable-checked-border-color);
            }

            input:checked ~ .radio__item:after {
                background: var(--radio-disable-checked-border-color);
            }

            .form-control {
                cursor: default;
            }
        }

        &-label {
            @include setFontStyle(13px, "SFText-Medium");

            line-height: 20px;
            color: var(--radio-label-color);
            display: none;
            margin-left: 30px;

            &[data-show=true] {
                display: block;
            }
        }

        input {
            @include square($radio-size);

            position: absolute;
            z-index: 1;
            opacity: 0;
            cursor: pointer;
            min-height: 20px;
            margin: 0;
        }

        input + .radio__item:after {
            @include square(8px);
            @include position(absolute, 0, 0, 0, 0);

            content: "";
            display: block;
            margin: auto;
            border-radius: 50%;
        }

        input:checked + .radio__item:after {
            background-color: var(--radio-checked-background-color);
        }

        input + .radio__item:before {
            @include square(18px);
            @include position(absolute, 0, 0, 0, 0);

            content: "";
            display: block;
            margin: auto;
            border-radius: 50%;
            border: 1px solid var(--radio-border-color);
            background-color: var(--radio-background-color);
        }

        input:checked + .radio__item:before {
            @include square(16px);

            border: 2px solid var(--radio-checked-border-color);
        }
    }
}
