.ball-pulse-double .loader {
    width: 100px;
    height: 100px;
}
.ball-pulse-double .ball-1, .ball-pulse-double .ball-2 {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background-color: #00077B;
    border-radius: 50%;
    animation: ballPulseDouble 2s ease-in-out infinite;
    opacity: 0.5;
}
.ball-pulse-double .ball-2 {
    animation-delay: -1s;
}

@keyframes ballPulseDouble {
    0%, 100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}
