/* UTILS - Файл базовых Переменных, содержащий также начальные Примеси, Функции и Заполнители.
========================================================================== */
@import "../styles/utils/variables.scss";
@import "../styles/utils/functions.scss";
@import "../styles/utils/scrollbar.scss";
@import "../styles/utils/elements.scss";
/* BASE - базовый шаблон роекта
========================================================================== */
/* FONTS - базовый шаблон роекта
========================================================================== */
@import "../styles/fonts/fonts.scss";

@import "../styles/theme/_styles.scss";

body {
    background-color: #f2f4f8;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
