:root {
    --alert-none-background-color: rgba(41, 45, 64, 0.9);
    --alert-none-text-color: #ffffff;

    --alert-negative-background-color: #FFE6E6;
    --alert-negative-text-color: #EB5757;

    --alert-positive-background-color: #DAF7E4;
    --alert-positive-text-color: #00BF40;

    --alert-neutral-background-color: #E4EAF7;
    --alert-neutral-text-color: #00077B;
}
