:root {
	--field-label-color: #808080;
	--field-error-color: #EB5757;

	--input-background-color: #FFFFFF;
	--input-border-color: #D9D9D9;

	--input-hover-color: rgba(0, 7, 123, 0.4);

	--input-focus-border-color: #00077B;
	--input-focus-color: #000000;

	--input-disable-background-color: #F2F2F2;
	--input-disable-color: #808080;

	--input-error-color: #EB5757;
}
