:root {
    --radio-label-color: #000000;

    --radio-disable-background-color: #f2f2f2;
    --radio-disable-border-color: #d9d9d9;
    --radio-disable-checked-border-color: #a6a6a6;

    --radio-hover-background-color: #E4EAF7;

    --radio-background-color: #ffffff;
    --radio-border-color: #d9d9d9;

    --radio-checked-background-color: #00077B;
    --radio-checked-border-color: #00077B;
}
