:root {
    --select-label-color: #808080;
    --select-input-value-color: #000000;
    --select-control-background-color: #ffffff;
    --select-control-border-color: #d9d9d9;
    --select-control-hover-border-color: rgba(0, 7, 123, 0.4);
}
