:root {
    // colors
    --blue-color: #00077B;
    --dark-blue-color: #292D40;
    --light-blue-color: #E4EAF7;
    --green-color: #00BF40;
    --light-green-color: #DAF7E4;
    --red-color: #EB5757;
    --light-red-color: #FFE6E6;
    --orange-color: #E6AC5C;
    --bright-blue-color: #4080FF;

    // grayscale
    --gray-0-color: #000000; // black
    --gray-1-color: #808080;
    --gray-2-color: #a6a6a6;
    --gray-3-color: #d9d9d9;
    --gray-4-color: #e6e6e6;
    --gray-5-color: #f2f2f2;
    --gray-6-color: #ffffff; // white
}
