:root {
    --toggle-label-color: #000000;

    --toggle-disable-background-color: #e6e6e6;

    --toggle-inactive-item-color: #ffffff;
    --toggle-inactive-background-color: #a6a6a6;
    --toggle-active-background-color: #00077B;
}
