@import "~styles/utils/_mixins.scss";

.typography-store {
    > div {
        height: 100px;
    }

    .typography {
        > span {
            line-height: 32px;
            width: 100%;
            display: block;
        }

        &[data-type="SFDisplay-Thin"] {
            @include set-font-style(100, 18px, "SFDisplay");
        }

        &[data-type="SFDisplay-UltraLight"] {
            @include set-font-style(200, 18px, "SFDisplay");
        }

        &[data-type="SFDisplay-Light"] {
            @include set-font-style(300, 18px, "SFDisplay");
        }

        &[data-type="SFDisplay-Regular"] {
            @include set-font-style(400, 18px, "SFDisplay");
        }

        &[data-type="SFDisplay-Medium"] {
            @include set-font-style(500, 18px, "SFDisplay");
        }

        &[data-type="SFDisplay-Semibold"] {
            @include set-font-style(600, 18px, "SFDisplay");
        }

        &[data-type="SFDisplay-Bold"] {
            @include set-font-style(700, 18px, "SFDisplay");
        }

        &[data-type="SFDisplay-Heavy"] {
            @include set-font-style(800, 18px, "SFDisplay");
        }

        &[data-type="SFDisplay-Black"] {
            @include set-font-style(900, 18px, "SFDisplay");
        }


        &[data-type="SFText-Light"] {
            @include set-font-style(300, 18px, "SFText");
        }

        &[data-type="SFText-Regular"] {
            @include set-font-style(400, 18px, "SFText");
        }

        &[data-type="SFText-Medium"] {
            @include set-font-style(500, 18px, "SFText");
        }

        &[data-type="SFText-Semibold"] {
            @include set-font-style(600, 18px, "SFText");
        }

        &[data-type="SFText-Bold"] {
            @include set-font-style(700, 18px, "SFText");
        }

        &[data-type="SFText-Heavy"] {
            @include set-font-style(800, 18px, "SFText");
        }
    }
}
