.arc-scale .loader {
    width: 100px;
    height: 100px;
}
.arc-scale .loader .arc {
    position: relative;
    margin: 25% 0 0 25%;
    width: 50%;
    height: 50%;
    border: 4px solid #00077b;
    border-radius: 50%;
    animation: rotate 2.9s infinite linear;
}
.arc-scale .loader .arc::before, .arc-scale .loader .arc::after {
    content: "";
    position: absolute;
    top: -5px;
    width: 33px;
    height: 62px;
    background-color: #f4f4f4;
    animation: rotate 2s infinite ease;
}
.arc-scale .loader .arc::before {
    left: -6px;
    transform-origin: 29px 29px;
}
.arc-scale .loader .arc::after {
    left: 27px;
    transform-origin: 0 29px;
    animation-delay: 0.5s;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
