.square-split .loader {
    width: 100px;
    height: 100px;
}
.square-split .loader > div {
    float: left;
    width: 50%;
    height: 50%;
}
.square-split .loader > div::after {
    content: "";
    display: block;
    margin: 50% 0 0 50%;
    width: 50%;
    height: 50%;
    background: #00077b;
    animation: squareSplit 2s infinite ease-in-out alternate;
}
.square-split .loader .square-2 {
    transform: rotate(90deg);
}
.square-split .loader .square-3 {
    transform: rotate(270deg);
    animation-direction: reverse;
}
.square-split .loader .square-4 {
    transform: rotate(180deg);
    animation-direction: reverse;
}

@keyframes squareSplit {
    20% {
        transform: rotate(0deg);
        margin: 50% 0 0 50%;
    }
    50% {
        transform: rotate(90deg);
        margin: 0;
    }
    80% {
        transform: rotate(180deg);
        margin: 50% 0 0 50%;
    }
    100% {
        transform: rotate(180deg);
        margin: 50% 0 0 50%;
    }
}
